# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mukul\Desktop\Semester_2\SMD\ass1\SWEN30006_22B_Project1_spec\SWEN30006_22B_Project1_spec\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
